version: "3.9"

services:
  web:
    build:
      context: .
      target: prod
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - rabbitmq
    restart: always

  celery:
    build:
      context: .
      target: prod
    command: celery -A config worker -l INFO
    env_file:
      - .env
    depends_on:
      - redis
      - rabbitmq
    restart: always

  postgres:
    image: postgres:16
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    restart: always

  rabbitmq:
    image: rabbitmq:3
    restart: always

volumes:
  pgdata:
